/venv/
/venv/Lib/
/venv/Scripts/
/venv/.gitignore
/venv/pyvenv.cfg
.gitignore
.fleet/run.json
.fleet/settings.json
.idea/.gitignore
.idea/dRollv2.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/backgrounds.cpython-310.pyc
__pycache__/backgrounds.cpython-312.pyc
__pycache__/functions.cpython-310.pyc
__pycache__/functions.cpython-312.pyc
__pycache__/name_generator.cpython-310.pyc
__pycache__/name_generator.cpython-312.pyc
__pycache__/random_character.cpython-310.pyc
__pycache__/random_character.cpython-312.pyc
__pycache__/xanathars.cpython-310.pyc
__pycache__/xanathars.cpython-312.pyc
