/venv/
/venv/Lib/
/venv/Scripts/
/venv/.gitignore
/venv/pyvenv.cfg
__pycache__/backgrounds.cpython-312.pyc
__pycache__/functions.cpython-312.pyc
__pycache__/height_weight_calculator.cpython-312.pyc
__pycache__/name_generator.cpython-312.pyc
__pycache__/random_character.cpython-312.pyc
__pycache__/xanathars.cpython-312.pyc
